= form_tag results_path, method: :get, role: 'search', class: 'form-inline' do
  = text_field_tag :query, params[:query],  type: 'search', class: 'rounded me-2', placeholder: 'Search'
  = select_tag :resource, options_for_select(%w[All Question User Comment Answer], 'All'), class: 'me-2'
  = submit_tag "Search", name: nil, class: 'btn btn-outline-primary me-3'
